body {
    background-color:honeydew;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:darkcyan;
}
h2 {
    color:deeppink;
    font-family: Georgia, 'Times New Roman', Times;
}