body {
    background-color:honeydew;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:darkcyan;
}
h2 {
    color:deeppink;
    font-family: Georgia, 'Times New Roman', Times;
}


.about {  
    display:flex; 
    flex-wrap:wrap; 

}
.about { 
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}

.about p { 
    text-align: center;
    margin: 15px;
    }

.about img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(62, 249, 187); /* choose a color */
    display: block;
    margin: auto;
    }

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(62, 249, 187); /* choose a color */
    display: block;
    margin: auto;
    }

    a { /* change the appearance of ALL links */
        text-decoration: none;
        color: rgb(213, 12, 213);
        text-align: center;
        }

        .project p { /* change the appearance of paragraph tags inside .project divs */
        text-align: center;
        margin: 15px;
        }